.date-container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	width: 60px;
	padding: 0 6px;
	border-left: 1px solid #cecece;
}

.date-container p:nth-child(1) {
	font-size: 0.7em;
	color: #999;
}