.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    display: flex;
    flex-wrap: nowrap;
}

.scroll-controls {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 20px; */
    font-size: 1.5em;
    cursor: pointer;
}

.months-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}