* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.btn-container {
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}