.month {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 1px solid #cecece;
}

.month-header {
	font-size: 0.9em;
	font-weight: 600;
}

.month-dates {
	display: flex;
	margin: 5px 0 10px 0;
}

.status-bar {
	display: grid;
	grid-template-columns: repeat(auto-fill, 60px);
	height: 35px;
}

.status-column {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5px;
	border-left: 1px solid #cecece;
	position: relative;
}

.blocked {
	background-color: rgba(226, 14, 14, 0.2);
}

.status-text-blocked,
.status-text-bookable,
.status-text-booked {
	width: 100%;
	height: 20px;
	border-radius: 12px;
	font-size: 0.7em;
    font-weight: 600;
	display: flex;
	align-items: center;
	padding: 0 5px;
	color: white;
    position: absolute;
	left: 0;
	z-index: 3;
}

.status-text-blocked {
	background-color: rgb(226, 14, 14);
}

.status-text-bookable {
	background-color: rgb(3, 155, 41);
}

.status-text-booked {
	background-color: rgb(4, 162, 235);
}
